body {

  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  font-family: 'Lora', serif;

  text-align: center;
  animation: colorChange 4s;
  animation-fill-mode: forwards;
}


h1 {
  color: #FFFFFF;
}
h1:before {
  content: attr(data-before);
  word-break: break-all;
  opacity: 0.4;
}
h1:after {
  content: attr(data-after);
  word-break: break-all;
  opacity: 0.4;
}

h3{
  font-family: 'Crimson Text', serif;
}

#extra{
  position: absolute;
    left: 20px;
    right: 20px;
    top: 0px;
    z-index: -1;
}

#extra:before{
  content: attr(data-before);
  opacity: 0.3;

  width: 500px;
  margin: auto;
}

#extra:after{
  content: attr(data-after);
  opacity: 0.3;

  width: 500px; 
  margin: auto;
}

#subtitle{
  margin-left: 25px;
  color: #361E1E;
  opacity: 0;
  animation:fadeIn;
  animation-duration: 2s;
  animation-delay: 3.7s;
  animation-fill-mode: forwards;
}

.button {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #113546;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  text-align: center;
}

.button:hover{
  color: white;
}

.button.show {
  opacity: 1;
   animation: fadeIn 1s linear;
  transform: translate3d(0, 30px, 0);
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.firstTurn {
  opacity: 0;
  
  animation:fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.yourTurn{

  animation:fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.neutralBackground{
  animation: toNeutralBackground;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.defaultCursor{
  cursor: default;
}
.pointerCursor{
  cursor: pointer;
}

@-webkit-keyframes colorChange{
  0%, 100% {
    background-color: #00D2FF;
  }
  50% {
    background-color:  #0569FF;
  }
}

@-moz-keyframes colorChange{
  0%, 100% {
    background-color: #00D2FF;
  }
  50% {
    background-color:  #0569FF;
  }
}

@keyframes colorChange{
  0%, 100% {
    background-color: #00D2FF;
  }
  50% {
    background-color:  #0569FF;
  }
}


@-webkit-keyframes fadeIn{
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-moz-keyframes fadeIn{
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes fadeIn{
  0% { opacity: 0;}
  100% { opacity: 1;}
}



@-webkit-keyframes toNeutralBackground
{
0%   {background: #00D2FF}
100%  {background: white;}
}

@-moz-keyframes toNeutralBackground
{
0%   {background: #00D2FF;}
100%  {background: white;}
}

@keyframes toNeutralBackground
{
0%   {background: #00D2FF;}
100%  {background: white;}
}

 



/*TEST MACCARONI*/